{% extends "base.html" %}
{%- import "components.html" as components -%}

{% block content %}

{% call components::subpage_header(nobt_url, "Balances") %}

<div class="bg-white p-4">
    <section class="space-y-4">
        <h2 class="text-darkGrey text-xs">The balances of all users in this Nobt.</h2>
        <ul class="flex flex-col gap-4">
            {% for balance in balances %}
            <li>
                <a class="block flex items-center gap-3" href="{{ balance.url }}">
                    {% call components::avatar(balance.initials) %}
                    <span class="grow flex flex-col">
                        <span>{{ balance.name }}</span>
                        <span class="text-sm text-darkGrey {% if balance.is_negative %} text-red {% else %} text-green {% endif %}">{{ balance.amount }}</span>
                    </span>
                    {% call components::icon("chevron_right") %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}
