{% macro avatar(initials) %}

<div class="flex items-center justify-center bg-green text-bold rounded-full h-6 w-6 text-xs text-white leading-normal">
    {{ initials }}
</div>

{% endmacro %}

{% macro icon(name) %}

<span class="material-symbols-outlined text-darkGrey">{{ name }}</span>

{% endmacro %}

{% macro subpage_header(url, name) %}

<header class="bg-grey text-white px-4 h-16 grid grid-cols-12 justify-items-center items-center">
    <a href="{{ url }}" class="material-symbols-outlined">
        chevron_left
    </a>
    <h1 class="text-lg col-span-10 col-start-2 font-header uppercase font-bold">{{ name }}</h1>
</header>

{% endmacro %}
